%p#notice= notice
%p
	%b Message:
	= @message.message
%p
	%b Subject:
	= @message.subject
%p
	%b Message from:
	= @message.message_from
%p
	%b Message to:
	= @message.message_to
= link_to 'Edit', edit_message_path(@message)
|
\#{link_to 'Back', messages_path}
