= form_for(@appraisal) do |f|
  %ul
  - @appraisal.errors.full_messages.each do |msg|
    %li= msg
  .field1
    = f.label :date_of_joining
    %br/
    = f.text_field :date_of_joining, :id => "datepicker"
  .field1
    = f.label :description
    %br/
    = f.cktext_area :description
    = f.hidden_field  :user_id, :value => current_user.id
  .actions
    = f.submit "Submit", :class => "btn btn-info"
