<%= nested_form_for @user do |f| %>

<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.fields_for :personal_info do |pi|%>

    <%= pi.text_area :preffer_name,:rows=>4,:cols=>26 %>

    <%= pi.text_area :permanant_address ,:rows=>4,:cols=>26%>

  <%= pi.link_to_remove "Remove this task" %>
<% end %>

<p><%= f.link_to_add "Add a task", :personal_info %></p>
<%= f.submit "Save"%>


<% end %>
