%h1 Listing leaves
%table
  %tr
    %th Leave name
    %th Leavetype
    %th Noofleaves
    %th
    %th
    %th
  - @leaves.each do |leafe|
    %tr
      %td= leafe.leave_name
      %td= leafe.LeaveType
      %td= leafe.NoOfLeaves
      %td= link_to 'Show', leafe
      %td= link_to 'Edit', edit_leafe_path(leafe)
      %td= link_to 'Destroy', leafe, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Leave', new_leafe_path
