<p id="notice"><%= notice %></p>

<p>
  <b>Leave name:</b>
  <%= @leafe.leave_name %>
</p>

<p>
  <b>Leavetype:</b>
  <%= @leafe.LeaveType %>
</p>

<p>
  <b>Noofleaves:</b>
  <%= @leafe.NoOfLeaves %>
</p>


<%= link_to 'Edit', edit_leafe_path(@leafe) %> |
<%= link_to 'Back', leaves_path %>
