<%= form_for(@salary_detail) do |f| %>
  <% if @salary_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salary_detail.errors.count, "error") %> prohibited this salary_detail from being saved:</h2>

      <ul>
      <% @salary_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :salary_amount %><br />
    <%= f.text_field :salary_amount %>
  </div>
  <div class="field">
    <%= f.label :salary_deducted %><br />
    <%= f.text_field :salary_deducted %>
  </div>
  <div class="field">
    <%= f.label :total_salary %><br />
    <%= f.text_field :total_salary %>
  </div>
  <div class="field">
    <%= f.label :difference_to_pay %><br />
    <%= f.text_field :difference_to_pay %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
