<h1>Listing salary_details</h1>

<table>
  <tr>
    <th>User</th>
    <th>Salary amount</th>
    <th>Salary deducted</th>
    <th>Total salary</th>
    <th>Difference to pay</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @salary_details.each do |salary_detail| %>
  <tr>
    <td><%= salary_detail.user_id %></td>
    <td><%= salary_detail.salary_amount %></td>
    <td><%= salary_detail.salary_deducted %></td>
    <td><%= salary_detail.total_salary %></td>
    <td><%= salary_detail.difference_to_pay %></td>
    <td><%= link_to 'Show', salary_detail %></td>
    <td><%= link_to 'Edit', edit_salary_detail_path(salary_detail) %></td>
    <td><%= link_to 'Destroy', salary_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Salary detail', new_salary_detail_path %>
