- if !@appraisals.nil?
	%table.table.table-striped
		%tr
			%th User Name
			%th Date of Joining
			%th Date of application
			%th Total period worked.
			%th Description
			%th Status of Application
			%th Change status
		- @appraisals.each do |a|
			%tr
				%td= a.user.first_name if !a.user.nil?
				%td= a.date_of_joining.strftime("%d %b %Y")
				%td= a.created_at.strftime("%d %b %Y")
				%td= a.total_period_worked
				%td= a.description
				%td= a.app_status
				%td