!!!
%html
	%head
		%title HindaviEmployee
		= stylesheet_link_tag	"main"
		= javascript_include_tag	"application"
		= csrf_meta_tags
		#header
			%body
			- if user_signed_in?
				= link_to "Sign Out",destroy_user_session_path ,:method=>:delete
		#wrap
			#main
				.field
					%p.notice= notice
					%p.alert= alert
					= yield
		#footer		
	 	
