!!!
%html
  %head
    %title HindaviEmployee
    = stylesheet_link_tag   "application"
    = javascript_include_tag   "jquery", "/assets/ckeditor/ckeditor", "jquery-ui", "jquery_ujs","/assets/twitter/bootstrap", "bootstrap", "common", "fullcalendar", "jquery-ui-1.9.2.custom", "jquery-ui-1.9.2.custom.min"
    = csrf_meta_tags
    :javascript
      $(document).ready(function() {
        var CKEDITOR_BASEPATH = '/assets/ckeditor/';
        $("#datepicker").datepicker();
        $('#calendar').fullCalendar({
        })

        return $('#leave_request_user_name').autocomplete({
          source: '/leave_requests/users',
          select: function(event, ui) {
            return $("#leave_request_user_id").val(ui.item.id);
          }
        });
      });
      $('.dropdown-toggle').dropdown();
    #header
    - if user_signed_in?
      - if current_user.is_admin?
        #navbar
          %ul
            %li
              =link_to "Employees",home_user_list_path
            %li#attendance_menu.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#attendance_menu"}
                %i.icon-time.icon-white
                = t(:attendance_title, :default => "Attendance")
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Leave", "/leave_requests"
            %li
              =link_to "Attendance","#"
            %li
              =link_to "Apraisals",home_list_appraisal_path
            %li
              =link_to "Salaries", "/salaries"
            %li.dropdown
              %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "1000", "data-toggle" => "dropdown", :href => "#"}
                Events
                %b.caret
              %ul.dropdown-menu{:style=>"margin-top:5px;"}
                %li
                  =link_to "Add Event", new_event_path
                %li
                  =link_to "View Events", events_path
            %li
              =link_to "Home",home_admin_index_path
      - else
        #navbar
          %ul
            %li.dropdown
              %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "1000", "data-toggle" => "dropdown", :href => "#"}
                Attendance
                %b.caret
              %ul.dropdown-menu{:style=>"margin-top:5px;"}
                %li
                  =link_to "Monthly timesheet",home_monthly_timesheet_path
                %li#punch-in
                  =link_to "Punch In", home_user_punch_in_path(:status => true) , :remote => true,  :onClick=>"change_display();"
                %li#punch-out
                  =link_to "Punch Out", home_user_punch_out_path(:status => false), :remote => true,  :onClick=>"change_display1();"
            %li
              =link_to "Appraisals", new_appraisal_path
            %li.dropdown
              %a.dropdown-toggle{"data-close-others" => "false", "data-delay" => "1000", "data-toggle" => "dropdown", :href => "#"}
                Events
                %b.caret
              %ul.dropdown-menu{:style=>"margin-top:5px;"}
                %li
                  =link_to "View Event", events_path
            %li
              =link_to "Salary Slip","#"
            %li
              =link_to "Profile","#"
            %li
              =link_to "Home",home_index_path
          %body
      .sign-out
        = current_user.full_name
        |
        = link_to "Sign Out",destroy_user_session_path ,:method=>:delete
    #wrap
      #main
        = yield
    #footer
      #back-to-top{:style => "position:fixed;right:35px;bottom:35px"}
        %a{:href => "#"}
          %i.icon-arrow-up>
          Back to top
      = "copy right @hindavi.in"
			

					