!!!
%html
  %head
    %title HindaviEmployee
    = stylesheet_link_tag   "main","application"
    = javascript_include_tag    "application"
    = csrf_meta_tags
    #header
    - if user_signed_in?
      #navbar
        %ul
          %li
            =link_to "Employees",home_user_list_path
          %li
            =link_to "Attendance","#"
          %li
            =link_to "Apraisals","#"
          %li
            =link_to "Leaves","#"
          %li
            =link_to "Events","#"
        %body
        .sign-out
          = link_to "Sign Out",destroy_user_session_path ,:method=>:delete
    #wrap
      #main
        = yield
    #footer
      = "copy right @hindavi.in"
			

					